.advices {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.advices__item {
    width: calc(100% / 4 - ((32px*3)/4));
    /* width: calc(100% / кол-во-карточек - ((гап px * кол-во гапов) / кол-во карточек)); */
}